.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: max-content;
    background-color: #6ab6b4;
}

.leftSideWrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    margin-right: 10px;
    width: 400px;
}

.rowColWrapper {
    width: 400px;
    display: inline-flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    justify-content: space-evenly;
}

.submissionWrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.header {
    margin: 0
}

.h4 {
    margin-bottom: 0 !important
}

.btn-warning {
    background-color: rgb(252, 233, 177) !important
}

.settings {
    display: inline-block;
    align-self: flex-start;
    margin-left: 5px
}